@use "global" as *;

.button {
    color: $white;
    font-size: 16px;
    font-weight: bold;
    width: rem(310);
    padding: rem(10.5) 0;
    background: #EF2622;
    border: solid 1px #EF2622 ;
    border: 1px solid $white;
    position: relative;
    border-radius: rem(50);
    z-index: 1;
    transition: .3s;
  }

.button::before {
    border-radius: rem(50);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
}

.button::after{
    border-radius: rem(0);
}

.button:hover {
    color: #EF2622;
    border: solid 1px #EF2622 ;
}

.button:hover::before {
    transform-origin: 0% 50%;
    transform: scale(1, 1);
}


.button a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}






.button span::after {
	background-image: url(../images/common/arrow-right.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(50);
    width: rem(19);
	height: rem(14);
	transform: translateY(-50%);
	transition: 0.2s background-color;
}

.button:hover span::after {
    background-image: url(../images/common/arroe_red.png);
}