@use "global" as *;

.comment__wrapper{
    @include mq(md){
        display: flex;
        justify-content: space-between;
    
    }
}

.comment__wrapper + .comment__wrapper{
    margin-top: rem(40);
}

.comment__img{
    width: rem(200);
    margin: auto;
    @include mq(md){
        width: 29.2%;
    }
}

.comment__content{
    width: 100%;
    @include mq(md){
        width: 67.7%;
    }
}

.comment__textbox{
    background-color: $white;
    margin-top: rem(15);
    padding: rem(30) rem(21) rem(70) rem(30);
    @include mq(md){
        margin-top: rem(0);
        padding: rem(30) rem(21) rem(70) rem(30);
    }
}

.comment__title{
    color: #EF7740;
    font-size: rem(28);
}

.comment__text{
    margin-top: rem(28);
    letter-spacing: 0.05em;
    line-height: 1.75;
}






/* 「続きを読む」の開く設定 */

/* 「続きを読む」の開く設定 */

.comment__content *, .comment__content *:before, .comment__content *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.comment__content {
    position: relative;
}

.comment__content label {
    position: absolute;
    z-index: 1;
    bottom: 20px; /* remからpxに変更 */
    width: 100%;
    height: 100px; /* remからpxに変更 */
    cursor: pointer;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* グラデーションの高さ */
}

.comment__content input:checked + label {
    background: inherit; /* 開いた時にグラデーションを消す */
}

.comment__content label::after {
    line-height: 2rem;
    position: absolute;
    z-index: 2;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 124px;  /* remからpxに変更 */
    height: 33.4px;  /* remからpxに変更 */
    background-image: url('../images/common/bottun.png');
    background-size: cover;  /* 画像が要素全体に適用されるように */
    background-repeat: no-repeat;  /* 画像の繰り返しを防止 */
    content: '';  /* 疑似要素を表示するために必要 */
}
@media screen and (max-width:840px) {
    .comment__content label::after {
        bottom: 8%;
    }
}
@media screen and (max-width:800px) {
    .comment__content label::after {
        bottom: 0%;
    }
}


.comment__content input {
    display: none;
}

.comment__content .comment__text {
    overflow: hidden;
    height: 77px; /* remからpxに変更 */
    transition: height 0.4s ease-in-out; /* トランジション時間を0.4秒に設定し、イージングを追加 */
}

.comment__content input:checked ~ .comment__text {
    padding-bottom: 80px; /* 閉じるボタンのbottomからの位置 */
    transition: height 0.4s ease-in-out; /* トランジション時間を0.4秒に設定し、イージングを追加 */
}
