@use "global" as *;

.comment__wrapper{
    @include mq(md){
        display: flex;
        gap: 0 rem(25);
    }
}

.reverse{
    @include mq(md){
        flex-direction: row-reverse;
    }
}

.comment__wrapper + .comment__wrapper{
    margin-top: rem(40);
}

.comment__img{
    width: rem(200);
    margin:0 auto ;
    @include mq(md){
        width: 30%;
    }
}


.comment__content{
    width: 100%;
    @include mq(md){
        width: 70%;
    }
}

.comment__textbox{
    background-color: $white;
    margin-top: rem(15);
    padding: rem(15) rem(10) rem(70) rem(15);
    @include mq(md){
        margin-top: rem(0);
        padding: rem(30) rem(21) rem(70) rem(30);
    }

    &.opened {
        padding-bottom: rem(25); /* 開いたときのみpaddingを変更 */
    }
}

.comment__title{
    color: $blue;
    font-size: rem(18);
    @include mq(md){
        font-size: rem(28);
    }
}

.comment__text{
    margin-top: rem(8);
    font-size: rem(14);
    letter-spacing: 0.05em;
    line-height: 1.75;
    @include mq(md){
        margin-top: rem(28);
        font-size: rem(16);
    }
}






/* 「続きを読む」の開く設定 */

/* 「続きを読む」の開く設定 */

.comment__content *, .comment__content *:before, .comment__content *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.comment__content {
    position: relative;
}

.comment__content label {
    position: absolute;
    z-index: 1;
    bottom: rem(20); 
    width: 100%;
    height: rem(62); 
    cursor: pointer;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* グラデーションの高さ */
    @include mq(md){
        height: rem(100); 
    }
}

.comment__content input:checked + label {
    background: inherit; /* 開いた時にグラデーションを消す */
}

.comment__content label::after {
    line-height: 2rem;
    position: absolute;
    z-index: 2;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: rem(124);
    height: rem(33.4); 
    background-image: url('../images/common/bottun.png');
    background-size: cover;  /* 画像が要素全体に適用されるように */
    background-repeat: no-repeat;  /* 画像の繰り返しを防止 */
    content: '';  /* 疑似要素を表示するために必要 */
}
@media screen and (max-width:840px) {
    .comment__content label::after {
        bottom: 8%;
    }
}
@media screen and (max-width:800px) {
    .comment__content label::after {
        bottom: 0%;
    }
}


.comment__content input {
    display: none;
}

.comment__content .comment__text {
    overflow: hidden;
    height: rem(92); 
    transition: height 0.4s ease-in-out; /* トランジション時間を0.4秒に設定し、イージングを追加 */
    @include mq(md){
        height: rem(77); 
    }
}

.comment__content input:checked ~ .comment__text {
    padding-bottom: rem(80); /* 閉じるボタンのbottomからの位置 */
    transition: height 0.4s ease-in-out; /* トランジション時間を0.4秒に設定し、イージングを追加 */
}


