@use 'global' as *;

.experience-cards{
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.experience-cards__item{
    background-color: $white;
    padding: rem(10) rem(10) rem(16) rem(10);
    @include mq(md){
        max-width: calc(33.3333% - 1.875rem * 2 / 3 );
        width: 100%;
    }
}

.experience-cards__item + .experience-cards__item{
    margin-top: rem(20);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(30);
    }
}

/* 枚数が増えたときのための処理 */
.experience-cards__item:nth-child(3n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.experience-cards__item:nth-child(n + 4){
    @include mq(md){
        margin-top: 1.875rem;
    }
}
