@use "global" as *;

.experience-card {
    font-family: $experience-family;
    border: solid 1px #CCCCCC;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; /* カードの高さを揃える */
    min-height: 100%; /* 高さを揃える */
    box-sizing: border-box; /* パディングとボーダーを含めたサイズ調整 */
}

.experience-card a {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.experience-card a:hover {
    opacity: 0.5;
}

.experience-card__img {
    border: solid 1px #E9E9E9;
    padding: 16px 10px;
}

.experience-card__img img {
    aspect-ratio: 135 / 48;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.experience-card__title {
    margin-top: rem(16);
    text-align: center;
    color: #8BC63E;
    font-size: rem(18);
    font-weight: bold;
    line-height: 1.35; /* calc(27 / 20) */
    @include mq(md){
        font-size: 18px;
    }
}

.experience-card__text {
    margin-top: 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43; /* calc(20 / 14) */
    flex-grow: 1; /* テキスト部分を可能な限り拡張 */
    display: flex;
    align-items: flex-start; /* 上揃えにする */
    @include mq(md){
        /* 必要に応じて他のスタイルを追加 */
    }
}

.experience-card__wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 下揃えにする */
    flex-grow: 1; /* ラッパー部分を可能な限り拡張 */
}

.experience-card__list {
    display: flex;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43; /* calc(20 / 14) */
}

.experience-card__list dd {
    width: 73%;
}
