@use "global" as *;

.experience{
    background-color: #F8FBF4;
}

.experience__inner{
    max-width: rem(335);
    margin: auto;
    @include mq(md){
        max-width: rem(1200);
        padding: 0 rem(25);
    }
}

.experience__list{
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(48.4);
    }
}