@use "global" as *;

.footer__inner{
    max-width: $max-width;
    margin: auto;
}

.footer{
    background-color:#333333 ;
    color: $white;
    text-align: center;
    padding: rem(20) 0 rem(16);
    @include mq(md){
        padding: rem(50) 0 rem(34);
    }
}

.footer__text-text{
    display: inline-block;
    font-size: rem(12);
    padding:0 rem(9.6) rem(20);
    border-bottom: solid rem(1) $white ;
    text-align: left;
    line-height: 1.75;
    @include mq(md){
        padding:0 0 rem(27);
        font-size: rem(14);
        text-align: center;
    }
}

.footer__text-contact{
    margin-top: rem(26);
    font-size: rem(20);
    @include mq(md){
        margin-top: rem(41.6);
        font-size: rem(36);
    }
}

.footer__text-company{
    font-size: rem(12);
    letter-spacing: 0.05em;
    margin-top: rem(20);
    line-height: 1.75;
    @include mq(md){
        font-size: rem(16);
        margin-top: rem(43.2);
    }
}

.footer__text-address{
    font-size: rem(12);
    letter-spacing: 0.05em;
    margin-top: rem(14);
    line-height: 1.75;
    @include mq(md){
        font-size: rem(18);
        margin-top: rem(30);
    }
}

.footer__text-time{
    font-size: rem(12);
    line-height: 1.75;
    @include mq(md){
        font-size: rem(18);
    }
}

.footer__copyright{
    font-size: rem(12);
    letter-spacing: 0.05em;
    margin-top: rem(29);
    @include mq(md){
        margin-top: rem(58.6);
    }
}