@use "global" as *;

.future{
    position: relative; /* 追加 */
    z-index: 1; /* 追加 */
}

.future__inner{
    max-width: rem(1273);
    margin: auto;
    padding: 0 rem(25);
}

.future__title{
    margin-top: rem(39);
    color: $blue;
    font-size: rem(100);
    line-height: 1.02;
    font-weight:$normal;
}





.future__button {
    text-align: center;
    margin-top: rem(-150);
}
@media screen and (max-width: 1150px) {
    .future__button {
        margin-top: rem(-100);
    }
}

.future__info {
    color: $white;
    font-size: rem(28);
    font-weight: bold;
    background: #EF2622;
    width: rem(310);
    padding: rem(18) 0;
    border-radius: rem(50);
    position: relative;
    z-index: 1;
    transition: .3s;
    @include mq(md){
        width: rem(600);
        padding: rem(30.6) 0;
    }
}

.future__info::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: $white;
    transform: scaleX(0);
    transition: transform ease .3s;
    border: solid 1px #333 ;
    border-radius: rem(50);
}

.future__info:hover {
    color: #333;
}

.future__info:hover::before {
    transform: scaleX(1);
}

.future__info a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.future__info span {
    position: relative; /* 追加 */
    top: -10px; /* 上方向に移動 */
}

.future__info span::after {
    background-image: url(../images/common/arrow-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    bottom: -80%;
    right: 47%;
    width: rem(19);
    height: rem(14);
    transform: translateY(-50%);
    transition: 0.2s background-color;
}

.future__info:hover span::after {
    @include mq(md) {
        background-image: url(../images/common/arrow-bottom-black.png);
    }
}
