@use "global" as *;

/* Images Section */
.images__section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(9.3);
}

.images__section-container {
    flex: 1;
}

.images__section-container img {
    aspect-ratio: 446/319;
    width: 100%;
    height: 100%;
    object-fit: cover;
}