@use "global" as *;

.seminar{
    text-align: center;
}

.seminar__inner{
    max-width: $max-width;
    margin: auto;
}

.seminar__title{
    color: $blue;
    font-size: rem(18);
    @include mq(md){
        font-size: rem(36);
    }
}

.seminar__subtitle{
    margin-top: rem(18);
    line-height: 1.75;
    font-size: rem(15);
    @include mq(md){
        margin-top: rem(27.2);
        font-size: rem(16);
    }
}

.seminar__img{
    margin-top: rem(36.3);
    padding: 0 rem(30);
    // Flexboxを使用して子要素を中央揃えにする
    display: flex;
    justify-content: center;

    a {
        display: inline-block; // aタグのクリック範囲を画像に合わせる
    }
}




.seminar__img img{
    aspect-ratio: 380/537;
    width: rem(380);
    height: 100%;
    object-fit: cover;
    margin: auto;
    transition-property: opacity;
    transition: 0.3s;
}

.seminar__img img:hover {
    opacity: 0.7; 
}

.seminar__pdf{
    margin-top: rem(11.3);
    color: #707070;
    font-size: rem(14);
    font-weight: $bold;
    letter-spacing: 0.05em;
}

.seminar__detail{
    max-width: rem(710);
    margin:rem(30) auto auto auto;
    text-align: left;
    padding: 0 rem(15) 0 rem(30);
    @include mq(md){
        margin:rem(45.5) auto auto auto;
    }
}

.seminar__content{
    font-size: rem(14);
    line-height: calc(24/14);
    @include mq(md){
        font-size: rem(16);
        line-height: calc(24/16);
    }
}

.seminar__content + .seminar__content{
    margin-top: rem(10);
    @include mq(md){
        margin-top: rem(28.4);
    }
}

.seminar__dt{
    display: inline-block;
    position: relative;
    color: $blue;
    font-weight: $bold;
    font-size: rem(16);
    @include mq(md){
        font-size: rem(20);
    }
}

.seminar__dt::before {
    content: "";/*線が表示される*/
    width: rem(12);/*線の長さを指定*/
    height: rem(3);/*線の太さを指定*/
    /*「position」「top」「left」で、タイトルを基準に横線の位置を設定します。*/
    position: absolute;
    top: 50%;
    background-color: #EF7740;
    left: rem(-20);/*0指定すると、文字の上に線が来る*/
}

.seminar__dd{
    margin-top: rem(6);
    font-size: rem(12);
    letter-spacing: 0.05em;
    @include mq(md){
        margin-top: rem(16);
        font-size: rem(16);
    }
}

.seminar__dd span{
    color: #EF2622;
}

.seminar__button {
    margin-top: rem(25);
    text-align: center;
    @include mq(md){
        margin-top: rem(54);
    }
}